body {
    background-color: #35B668;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style: none;
    text-align: right;
    padding-top: 20px;
}

ul li{
    display: inline;
    padding-right: 30px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
}

@font-face {
    font-family: OsgardStencil;
    src: url(../OsgardStencil.otf);
}

h1 {
    font-family: 'OsgardStencil', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.75em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2em;
    margin-right: 2em;
    display: inline-block;
}

h3 {
    font-family: 'OsgardStencil', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em; 
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 2em;
    margin-right: 2em;

}