body {
    background-color: #444444;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style: none;
    text-align: right;
    padding-top: 20px;
}

ul li{
    display: inline;
    padding-right: 30px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
}

h3 {
    position: fixed;
    padding-top: 20%;
    padding-left: 40%;
}